.home-wrap > div.right-signup {
  padding: 0;
  display: flex;
  justify-content: center;
  .form-wrap {
    h2 {
      font-size: 26px;
      color: rgb(41, 41, 41);
    }
    .form-label {
      color: rgb(98, 98, 98);
      margin-top: 10px;
    }
    .form-input {
      border: 1px solid rgb(216, 216, 216);
      height: 35px;
      font-size: 18px;
      padding: 3px 7px;
    }
    .form-btn {
      margin: 30px 0;
      padding: 10px;
      font-size: 18px;
      width: 100%;
      background-color: white;
      color: rgb(29,161,242);
      border: 1px solid rgb(29,161,242);
      border-radius: 25px;
      transition: all 0.3s ease-in-out;
    }
    .login-btn {
      display: block;
      width: 265px;
      margin: 0;
      text-align: center;
    }
    .form-btn:hover {
      text-decoration: none;
      color: white;
      background-color: rgb(29,161,242);
    }
  }
}


.edit-page form {
  .field_with_errors {
    .form-input {
      border: 1px solid red;
    }
  }
}

.user-img-photo {
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
}

/* edit page */

.edit-page {
  form {
    width: 300px;
    margin: 25px auto;
    .form-label {
      color: rgb(98, 98, 98);
      font-size: 16px;
      margin-top: 15px;
    }
    .form-input {
      font-size: 16px;
      width: 100%;
      border: 1px solid rgb(216, 216, 216);
      padding: 4px 8px;
    }
    .user-photo {
      padding: 5px 10px;
    }
    .form-btn {
      width: 100%;
      padding: 5px;
      background-color: white;
      color: rgb(29,161,242);
      border: 1px solid rgb(29,161,242);
      border-radius: 25px;
      font-size: 18px;
    }
    .form-btn:hover {
      color: white;
      background-color: rgb(29,161,242);
    }
  }
  .delete-btn {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    color: rgb(238, 26, 26);
    border: 1px solid rgb(238, 26, 26);
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
  }
  .delete-btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(238, 26, 26);
  }
}